name: Rust

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: --deny warnings
  RUSTDOCFLAGS: --deny warnings

jobs:
  build:
    runs-on: ubuntu-latest
    # https://doc.rust-lang.org/cargo/guide/continuous-integration.html
    strategy:
      fail-fast: false
      matrix:
        toolchain:
          - stable
          - "1.74.1" # 2023-12-07, meant to be about 1 year ago
          - beta
          - nightly

    steps:
      - uses: actions/checkout@v4
      - name: setup ${{ matrix.toolchain }}
        run: rustup update ${{ matrix.toolchain }} && rustup default ${{ matrix.toolchain }}
      - name: cargo version
        run: cargo --version
      - name: Install tools
        run: |
          rustup component add clippy rustfmt
          cargo install --locked cargo-expand@1.0.95
          cargo install --locked cargo-bloat
      - name: Build
        run: cargo build --all --verbose
      - name: Run tests
        run: cargo test --all --verbose --locked
      - name: Run clippy
        run: cargo clippy --all-targets --all --locked
      - name: Check formatting
        run: cargo fmt --all -- --check
      - name: Document
        run: cargo doc --verbose
      - name: cargo expand
        run: cargo expand --lib | wc
      - name: cargo bloat
        run: cargo bloat --release
